[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
mouse = "*"
pywin32 = "*"
Pillow = "*"
pymitter = "*"

[dev-packages]

[requires]
python_version = "3.7"
